.response-proxy-page-root-fixed-button {
  position: fixed;
  top: 148px;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 4000;
  cursor: pointer;
  background-color: #6cf;
  opacity: 0.5;
  transition: opacity 0.3s;
  box-shadow: 0 0 10px 0px rgb(0 0 0 / 35%);

  &:hover {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
